// Fonts
$font-primary: 'Merriweather', serif;
$font-secondary: 'Poppins', sans-serif;

// Colors
$color-primary: #98d8aa;
$color-primary-light: #a9dab7;
$color-primary-dark: #85d69c;
$color-secondary: #3c4048;
$color-secondary-light: #494b50;
$color-secondary-dark: #2b303b;
$color-dark: #333;
$color-dark-medium: #474747;
$color-dark-light: #5c5c5c;
$color-grey: #b2b2b2;
$color-grey-medium: #c1c1c1;
$color-grey-light: #eee;
$white: #fff;

//Default styles
$border-radius: 1.5rem;
$shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.25);
