@import './mixins';
@import './variables';

.dark {
  .header {
    background-color: $color-secondary;
  }

  .theme-changer {
    svg {
      fill: $white;

      &:hover {
        fill: $color-grey-light;
      }
    }
  }

  .tasks {
    background-color: $color-secondary;
    color: $white;
  }

  .tasks__item {
    background-color: $color-secondary;
  }

  .tasks__add {
    background-color: $color-secondary-dark;

    &:hover {
      background-color: $color-secondary;
    }
  }

  .create__card {
    background-color: $color-secondary;
    color: $white;
  }

  .create__colors {
    input[type='radio']:checked + label:before {
      outline-color: $white;
    }
  }
}
