@import './mixins';
@import './variables';

.home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 108px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include screen(desktop) {
    min-height: 100vh;
  }
}
